.footer{
   display: flex;
   flex-direction: column;
   gap:10px;
   height:20vh;
   align-items: center;
   justify-content: center;
   margin-top: 23px;
}
.footer-logo{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 20px;
}
.footer-logo p{
   font-size: 34px;
   font-weight: 500;
   color: #383838;
}
.footer-links {
    display: flex;
    flex-direction: row;
    gap:30px;
    color: #383838;
    text-decoration: none;
    list-style: none;
    font-size: 24px; 
}
.footer-links li{
  cursor: pointer;
}
.footer-links li:hover{
   color: blue;
}
.foooter-social_icons{
   display: flex;
   flex-direction: row;
   padding: 10px;
   padding-bottom: 6px;
   background: #fbfbfb;
   gap: 23px;
   cursor: pointer;
}
.copyright{
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 23px;
   color: white;
   background: black;
   margin-bottom: 0px;
   padding-bottom: 0px;
  /* margin-top: 45px; */
  align-items: center;
  justify-content: center;
}
@media (max-width:700px) {
   .footer-links {
    display: flex;
    flex-direction: row;
    gap:25px;
    color: #383838;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
   }
   .footer-logo p{
       font-size: 24px;
   }
}
@media (max-width:600px) {
   .footer-links {
    display: flex;
    flex-direction: row;
    gap:20px;
    color: #383838;
    text-decoration: none;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
   }
   .footer-logo p{
       font-size: 24px;
   }
   .copyright{
     font-size: 12px;
   }
}